@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  margin: 0.2rem 3rem ;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

a {
  color: #505050;
  text-decoration: none;
}

.nav_item {
  display: flex;
  font-size: 0.87rem;
  color: #505050;
  gap: 3rem;
  align-items: center;
}

.nav_item a:hover{
  text-decoration: underline;
  font-size: 0.9rem;
  font-weight: 500;

}

.search_right {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.search_bar {
  display: flex;
  background-color: #e6e3e36d;
  padding: 6px 16px ;
  border-radius: 0.8rem;
  max-width: 60%;
}

.search_bar input{
  max-width: 90%;
  font-size: 0.9rem;
  border: none;
  outline: none;
  background-color: #d9d9d900;
}

.cart_profile {
  display: flex;
  gap: 1rem;
}

.cart_profile img{
  color: black;
}

.first{
  margin: 1rem -3rem;
  background-color: #F7F6F0;
  padding: 0.5rem 1.6rem;
}

.first_item{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  margin: 0 2.8rem;


}

.first_image{
  display: flex;
  gap: 1.4rem;
  
}
.second_image{
  display: flex;
  gap: 1.4rem;

}

.first_text{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 19rem;
  text-align: center;
}

.first_bold{
  font-size: 2.6rem;
  font-weight: 700;
}

.first_thin{
  font-size: 2.5rem;
  font-weight: 700;
}


.paragraph{
  font-size: 1.2rem;

}

.Sesson_collection{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  padding: 1.5rem 0;
}

.collection_item{
  display: flex;
  justify-content: space-between;
}

.collection_item img{
  max-width: 90%;
}

.collection_1{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.collection_1 button{
  background-color: #f9f7eb;
  border: none;
  border-radius: 0.6rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 400;

}

.best_text{
  font-size: 0.9rem;
}

.price_text{
 font-size:0.8rem;
}